table {
  padding: 5rem;
  margin: 30px auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  min-width: 10rem;
}

.header-table {
  background-color: antiquewhite;
  border-radius: 4px;
}

td, th {
  text-align: center;
  padding: 8px;
  border: 2px solid indigo;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

span {
  margin: 0px 3px;
}