table {
  padding: 5rem;
  margin: 30px auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  min-width: 10rem;
}

.header-table {
  border-radius: 4px;
  background-color: lightgray
}

td, th {
  text-align: center;
  padding: 8px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: lightgray
}

span {
  margin: 0px 5px;
}


tr:link    {
  text-decoration:  none;
  font-weight:      bold;
}

tr:hover   {
  text-decoration:  none;
  font-weight:      bold;
  background-color: snow;
  color: darkslategray;
  }

  i {
    cursor: pointer;
  }

  i:hover {
    font-size: 24px;
  }