.container-navbar {
  background: #2F4F4F;
  height: 2.5rem;
  padding: 1rem;
  font-size: large;
  color: aliceblue;
  margin: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 90%;
  margin: 0px auto;
}

.grid-item {
  text-align: start;
}

.modal-nav {
  margin-right: 0px;
  margin-left: auto;
  padding: 3px;
}

.search {
  text-align: center;
}

.grow {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

.grow:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}